* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
    background-color:black;
}

ul {
    list-style-type: none;
    color: white;
    font-size: 24px;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    background-color: gray;
    color: white;
}
li {
   margin-bottom: 10px;
   color: violet;
}